In [2]:
import pandas as pd
import networkx as nx
import matplotlib.pyplot as plt
import seaborn as sns
import gc
from io import StringIO
from itertools import combinations


try:
    # Remover o DataFrame
    del df
    # Forçar a coleta de lixo
    gc.collect()
except Exception as e:
    pass

# Carregar o dataset
df = pd.read_csv('ca-IMDB.edges',delim_whitespace=True,skiprows=3,names=['Filme', 'Ator'])

# 1. Exibir as primeiras linhas
#print(df.head())

# 2. Informações gerais sobre o dataset
#print(df.info())

# 3. Estatísticas descritivas
#print(df.describe())

# Verificar o número de atores
#print(df.iloc[:, 0].nunique())



# 4. Verificar valores ausentes
#print(df.isnull().sum())

# 5. Histograma das variáveis numéricas
#df.hist(figsize=(10, 8))
#plt.tight_layout()
#plt.show()

# 6. Gráfico de dispersão entre duas variáveis
#sns.scatterplot(x='coluna1', y='coluna2', data=df)
#plt.show()

# 7. Matriz de correlação
#correlation_matrix = df.corr()
#sns.heatmap(correlation_matrix, annot=True, cmap='coolwarm')
#plt.show()

# 8. Gráfico de barras para variável categórica
#sns.countplot(x='coluna_categorica', data=df)
#plt.show()

# 9. Boxplot para identificar outliers
#sns.boxplot(x=df['coluna_numerica'])
#plt.show()

In [4]:
print(df['Ator'].value_counts())

Ator
704908    1590
408682    1200
579844     947
386107     925
866537     879
          ...
366768       1
366770       1
366771       1
366774       1
896308       1
Name: count, Length: 896302, dtype: int64

In [16]:
print(df.groupby('Ator')['Filme'].apply(list).sort_values(key=lambda x: x.str.len(), ascending=False))
print("Fim")

Ator
704908    [988, 1280, 1676, 1687, 2896, 7087, 7100, 7102...
408682    [133, 137, 622, 638, 2294, 2598, 2632, 2786, 2...
579844    [1537, 1602, 1906, 2634, 2942, 2957, 3349, 342...
386107    [312, 313, 1149, 3283, 3405, 4168, 4178, 4179,...
866537    [622, 687, 688, 2632, 2636, 2786, 2799, 3120, ...
                                ...
366768                                             [119618]
366770                                             [163226]
366771                                             [204314]
366774                                             [384295]
896308                                             [367577]
Name: Filme, Length: 896302, dtype: object
Fim

In [21]:
df.sort_values(by=['Filme'])

          Filme    Ator
3077792       1  735548
936907        1  245734
1735866       1  436233
1095326       1  287372
3362442       1  800081
...         ...     ...
1881871  428439  467814
1169069  428439  306183
3327717  428439  792028
11614    428439    3122
1176760  428439  308305

[3782463 rows x 2 columns]

In [4]:
filmes_atores = df.groupby('Filme')['Ator'].apply(list).reset_index()

# Encontrar pares de atores que participaram do mesmo filme
pares_atores_comum = []

for _, row in filmes_atores.iterrows():
    atores_comum = row['Ator']
    # Criar todos os pares de atores que participaram no mesmo filme
    if len(atores_comum) > 1:
        pares_atores_comum.extend(combinations(sorted(atores_comum), 2))

# Contar a frequência de cada par de atores
atores_comum_freq = pd.Series(pares_atores_comum).value_counts()

# Exibir os pares de atores que mais participaram dos mesmos filmes
print(atores_comum_freq)

print("fim")

(408682, 704908)    387
(704908, 866537)    327
(394511, 704908)    311
(642389, 685331)    309
(408682, 866537)    304
                   ...
(100823, 210499)      1
(100823, 226392)      1
(100823, 229208)      1
(100823, 229209)      1
(850548, 890282)      1
Name: count, Length: 57064358, dtype: int64
fim

In [10]:
print(atores_comum_freq)

(408682, 704908)    387
(704908, 866537)    327
(394511, 704908)    311
(642389, 685331)    309
(408682, 866537)    304
                   ...
(100823, 210499)      1
(100823, 226392)      1
(100823, 229208)      1
(100823, 229209)      1
(850548, 890282)      1
Name: count, Length: 57064358, dtype: int64

In [4]:
print(df.iloc[:, 0].nunique())

303617

In [6]:
print(df.iloc[:, 1].nunique())

896302

In [8]:
print(df.shape[1])

2

In [ ]:
# 2. Informações gerais sobre o dataset
print(df.info())

In [6]:
# 3. Estatísticas descritivas
print(df.describe())

              Filme          Ator
count  3.782463e+06  3.782463e+06
mean   2.180559e+05  4.628374e+05
std    1.256546e+05  2.551011e+05
min    1.000000e+00  1.000000e+00
25%    1.087320e+05  2.480815e+05
50%    2.185820e+05  4.702810e+05
75%    3.284630e+05  6.817990e+05
max    4.284390e+05  8.963080e+05

In [ ]:
print(df.isnull().sum())

In [8]:
B = nx.Graph()
print(B)

Graph with 0 nodes and 0 edges

In [11]:
#Rede Bipartida


# Adicionar nós e arestas entre filmes e atores
for _, row in df.iterrows():
    # Adicionar filme como nó no grafo
    B.add_node(row['Filme'], bipartite=0)  # bipartite=0 para filmes
    # Adicionar ator como nó no grafo
    B.add_node(row['Ator'], bipartite=1)   # bipartite=1 para atores
    # Adicionar uma aresta entre o filme e o ator
    B.add_edge(row['Filme'], row['Ator'])

# Final da construção da Rede
print ("Fim")

Fim

In [13]:
print(B)

Graph with 896305 nodes and 3782454 edges

In [ ]:

# Visualização da rede (opcional)
# Se você quiser ver a rede bipartida, pode usar o layout específico para redes bipartidas.
pos = nx.bipartite_layout(B, nodes=df['Filme'])
plt.figure(figsize=(12, 12))
nx.draw(B, pos, with_labels=True, node_size=2000, font_size=10, node_color='skyblue')
plt.title("Rede Bipartida: Filmes e Atores")
plt.show()

print("Fim")

In [ ]:
G = nx.Graph()
print(G)

In [ ]:


# Iterar sobre o DataFrame e adicionar as arestas
for _, row in df.iterrows():
    # Agrupar os atores que atuaram no mesmo filme
    # Gerar todas as combinações de pares de atores no mesmo filme
    for ator1, ator2 in combinations(row['Ator'], 2):
        G.add_edge(ator1, ator2)  # Adicionar a aresta entre os dois atores

# Visualizar a rede de co-atores
plt.figure(figsize=(8, 8))
nx.draw(G, with_labels=True, node_size=2000, node_color='skyblue', font_size=10)
plt.title("Rede de Co-Atores (Com base nos filmes)")
plt.show()